.cardContainer{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
    min-height: 250px;
    position: relative;
}
.editBtn{
    position: absolute;
    bottom: 10px;
    background-color: blue;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.editBox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.editBox label{
    font-size: 18px;
    font-weight: bold;
}
.editBox textarea{
    width: 100%;
}
